<% functions.each do |function| %>
  <article class="cf w-100 bb b--black-05 pv3 ph2">
    <div class="fl w-50 v-mid">
      <h1 class="f6 f5-ns fw6 lh-title black mv0">
        <% if function.private? %>
          <i class="fa fa-lock gold mr1" aria-hidden="true"></i>
        <% end %>
        <a href="<%= user_function_path(function.user.username, function.name) %>" class="dim blue no-underline">
          <%= function.name %>
        </a>
        <span class="ml2 black-40 fw4 f6"><%= function.runtime_name %></span>
      </h1>
      <h2 class="f6 fw4 mv1">
        <% if function.description.present? %>
          <div class="black-60 truncate"><%= function.description %></div>
        <% else %>
          <div class="black-40 i">No description.</div>
        <% end %>
      </h2>
      <div class="f6 black-40" title="<%= function.created_at %>">Created <%= time_ago_in_words(function.created_at) %> ago</div>
    </div>
    <div class="fr w-50 v-mid">
      <pre class="f6"><code class="language-<%= function.runtime_language %>"><%= function.first_n_lines_of_code(4, template: true) %></code></pre>
    </div>
  </article>
<% end %>
