<div class="bb b--black-10">
  <section class="dt w-100 ph4 center">
    <div class="dtc v-mid">
      <h1 class="f4 mb1">
        <a href="<%= function_path(@function) %>" class="no-underline blue dim">
          <%= @function.name %>
        </a>
      </h1>
      <h2 class="f6 fw4 mt0 mb3">
        <% if @function.description %>
          <div class="black-60 truncate"><%= @function.description %></div>
        <% else %>
          <div class="black-40 i">No description.</div>
        <% end %>
      </h2>
    </div>
    <div class="dtc v-mid">
      <div class="f5 tr mb1 black-60"><%= @function.runtime_name %></div>
      <div class="f6 tr black-40" title="<%= @function.created_at %>">Created <%= time_ago_in_words(@function.created_at) %> ago</div>
    </div>
  </section>
</div>

<main class="w-100 center cf js-stretch-to-bottom">
  <div class="fl w-60 relative h-100">
    <pre id="code-editor" class="mv0"><%= @function.code %></pre>
  </div>
  <div class="fr w-40 bg-washed-blue bl b--black-10 h-100">
    Controls go here
  </div>
</main>

<script>
  var editor = ace.edit("code-editor");
  editor.setTheme("ace/theme/github");
  editor.setOptions({
    fontFamily: "Consolas, Menlo, Courier, monospace",
    fontSize: "13px"
  });
  editor.setShowPrintMargin(false);
  editor.session.setMode("ace/mode/<%= @function.runtime_language %>");
</script>
