<%
  title("Functions.run - #{@function.user.username}/#{@function.name}")
  description([@function.name, @function.description.presence].compact.join(" - "))
%>
<div ng-controller="functions-app.function-editor-controller" ng-cloak>
  <div class="bb b--black-20 cf function-header-bar">
    <section class="fl w-60 ph4 br b--black-20 h-100">
      <h1 class="f4 mb1">
        <% if @function.private? %>
          <i class="fa fa-lock gold mr1" aria-hidden="true"></i>
        <% end %>
        <a href="<%= user_path(@function.user.username) %>" class="no-underline blue dim">
          <%= @function.user.username %>
        </a>
        <span class="black-30">/</span>
        <a href="<%= user_function_path(@function.user.username, @function.name) %>" class="no-underline blue dim">
          <%= @function.name %>
        </a>
        <div class="black-30 f6 fw4 fr">
          <% if current_user %>
            <a class="f6 grow br2 ph3 pv2 mr2 dib white bg-pink" ng-click="updateFunction()" ng-disabled="state.updatingFunction">
              <span class="pr2">{{ state.updatingFunction ? 'Saving' : 'Save code' }}</span>
              <i class="fa fa-floppy-o" aria-hidden="true" ng-show="!state.updatingFunction"></i>
              <i class="fa fa-spinner" aria-hidden="true" ng-show="state.updatingFunction"></i>
            </a>
          <% end %>
          <%= @function.runtime_name %>
        </div>
      </h1>
      <h2 class="f6 fw4 mt0 mb3">
        <% if @function.description.present? %>
          <div class="black-60 truncate"><%= @function.description %></div>
        <% else %>
          <div class="black-40 i">No description.</div>
        <% end %>
      </h2>
    </section>
    <section class="w-40 fl h-100 bg-black-10 dt">
      <div class="dtc v-mid pl4">
        <a class="f6 grow br2 ph3 pv2 mr2 dib white" ng-click="activeView = 'run'" ng-class="{'bg-black': activeView === 'run', 'bg-black-50': activeView !== 'run'}">
          <i ng-show="activeView === 'run'" class="fa fa-hand-o-right mr2" aria-hidden="true"></i>
          Run function
        </a>
        <a class="f6 grow br2 ph3 pv2 mr2 dib white" ng-click="activeView = 'use'" ng-class="{'bg-black': activeView === 'use', 'bg-black-50': activeView !== 'use'}">
          <i ng-show="activeView === 'use'" class="fa fa-hand-o-right mr2" aria-hidden="true"></i>
          Use function
        </a>
        <% if current_user&.id == @function.user_id %>
          <a class="f6 grow br2 ph3 pv2 mr2 dib white bg-black-50 no-underline" href="<%= edit_function_path(@function) %>">Settings</a>
        <% end %>
      </div>
    </section>
  </div>

  <main class="w-100 center cf js-stretch-to-bottom">
    <div class="fl w-60 h-100 br b--black-10 code-editor-container">
      <div
        ui-codemirror="{onLoad : codemirrorLoaded}"
        ng-model="function.code_with_template" class="h-100"></div>
    </div>

    <div class="fr w-40 h-100 pa4 code-runner-container">
      <div ng-show="activeView === 'run'" ng-controller="functions-app.function-invocation-controller">
        <p class="black-50 mt0 lh-copy f6">Supply JSON input to the function (if applicable) and press the "Run" button to try it out.</p>
        <textarea
          class="code-input pa2 input-reset hover-bg-white b--black-20 black w-100"
          rows="4"
          ng-model="invocationRequest.payload"
          ui-codemirror="{onLoad : codemirrorLoaded}">
        </textarea>
        <button class="f6 bn grow br2 ph4 pv2 mt3 mb2 dib white bg-pink " ng-click="invokeFunction()" ng-disabled="state.invoking">
          <span class="pr2">{{ state.invoking ? 'Running' : 'Run' }}</span>
          <i class="fa fa-play" aria-hidden="true" ng-show="!state.invoking"></i>
          <i class="fa fa-spinner" aria-hidden="true" ng-show="state.invoking"></i>
        </button>

        <div ng-if="invocation && !state.invoking">
          <p ng-if="invocation.error === 'Handled'" class="light-red f6">Your request returned an error.</p>
          <p ng-if="invocation.error === 'Unhandled'" class="light-red f6">There was a unhandled error. View logs for details.</p>
          <p ng-if="!invocation.error" class="green f6">Your request completed successfully.</p>
          <textarea class="code-input pa2 input-reset hover-bg-white b--black-20 black w-100" rows="4" ng-if="!invocation.error || invocation.error === 'Handled'" spellcheck="false">{{invocation.payload}}</textarea>
          <p ng-if="invocation.log" class="f6">
            <a class="blue" ng-click="expandLogs()">
              View logs
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>

      <div ng-show="activeView === 'use'">
        <p class="black-50 mt0 lh-copy f6">Here's how to to use this function in your own app.</p>
        <h3>Step 1. Get your API key</h3>
        <% if current_user %>
          <p class="black-50 mt0 lh-copy f6">Copy and paste the following key:</p>
          <p><input type="text" class="input-reset b--black-20 black f6 w-100" value="<%= current_user&.api_key %>"></p>
        <% else %>
          <p class="light-red mt0 lh-copy">You are not logged in. You must be logged in and have an API key to continue.</p>
        <% end %>

        <h3>Step 2. Invoke the function</h3>
        <p class="black-50 mt0 lh-copy f6">Make a <b>POST</b> request to the following endpoint and specify your API key in the <b>X-Api-Key</b> header. Also specify a <b>payload</b> in your JSON request body.</p>
        <p><input type="text" class="input-reset b--black-20 black f6 w-100" value="<%= api_function_invocations_url(@function, protocol: 'https') %>"></p>

        <h3>Example: cURL</h3>
        <textarea class=" pa2 input-reset code-input hover-bg-white b--black-20 black w-100" rows="3">curl -H "Content-Type: application/json" \
     -H "X-Api-Key: <%= current_user&.api_key || 'your-api-key' %>" \
     -X POST -d '{"payload": "{}"}' \
     <%= api_function_invocations_url(@function, protocol: 'https') %></textarea>
      </div>
    </div>
  </main>
</div>
