<!DOCTYPE html>
<html ng-app="functions-app">
  <head>
    <title>Functions.run</title>
    <meta name="description" content="Build and run functions in the cloud.">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
      window.data = {};
      <% if current_user.present? %>
        window.data.currentUser = <%= current_user.as_json.to_json.html_safe %>;
      <% end %>
      <% if @function.present? %>
        window.data.function = <%= @function.as_json.to_json.html_safe %>;
      <% end %>
    </script>
    <link rel="icon" href="/favicon.ico?v=0" />
  </head>

  <body>
    <nav class="bg-blue">
      <div class="w-100 dt ph4 center">
        <div class="dtc v-mid">
          <a href="/" class="dib no-underline white f5 ttu tracked fw6">
            functions.run
          </a>
        </div>
        <div class="dtc v-mid tr pa3">
          <a class="f6 fw4 hover-white no-underline lightest-blue dib pv2 ph3" href="<%= functions_path %>">Explore Functions</a>

          <% if current_user %>
            <a class="f6 fw4 hover-white no-underline lightest-blue dib ml2 pv2 ph3 ba" href="<%= new_function_path %>">Create Function</a>
            <a class="f6 fw4 hover-white no-underline lightest-blue dib ml2 pv2 ph3 ba" href="<%= user_path(current_user.username) %>">Profile</a>
            <a class="f6 fw4 hover-white no-underline lightest-blue dib pv2 ph3" href="<%= destroy_session_path %>">Logout</a>
          <% else %>
            <a class="f6 fw4 hover-white no-underline lightest-blue dib ml2 pv2 ph3 ba" href="<%= new_session_path %>" >Log In</a>
            <a class="f6 fw4 hover-white no-underline lightest-blue dib ml2 pv2 ph3 ba" href="<%= new_user_path %>" >Sign Up</a>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>

    <%= render partial: "shared/google_analytics" %>
  </body>
</html>
